<div class="task-container m-3">
  <div class="form-check task-checkbox">
    <input type="checkbox" class="form-check-input" value="" id="flexCheckDefault">
    <label for="flexCheckDefault" class="form-check-label text-truncate" value=""><%= task.name %></label>
    <p class="task-description text-truncate"><%= task.description %></p>
  </div>
  <div class="task-due-date px-3">
    <% if task.end %>
      <p><%= task.end.strftime('%A %B %d, %Y') %></p>
      <p><%= task.end.strftime('%H:%M %Z') %> </p>
    <% end %>
  </div>
  <div class="container task-event">
    <h5><%= task.event.name %></h5>
  </div>
</div>
