<%= link_to event_path(event), class: "event-link-container" do %>
  <div class="event-container m-3" style="background: linear-gradient(45deg, rgba(8, 42, 82, 0.3), rgba(8, 42, 82, 0.8)), url('<%= event.photo.attached? ? cl_image_path(event.photo.key) : event.poster_url %>') center;">
    <div class="left">
      <h3><%= event.name %></h3>
      <p><%= event.location %></p>
    </div>
    <div class="right">
      <p><%= event.start_date.strftime('%A') %></p>
      <p><%= event.start_date.strftime('%B %d, %Y') %></p>
      <p><%= event.start_date.strftime('%H:%M')%> - <%= event.end_date.strftime('%H:%M') %> JST</p>
    </div>
  </div>
<% end %>
