<div class="task-container m-3 ">
  <div class="form-check task-checkbox">
    <%# <input type="checkbox" class="form-check-input" value="" id="flexCheckDefault" data-action="change->dashboard-mark-task-as-done#markAsDone"> %>
    <%# <label for="flexCheckDefault" class="form-check-label text-truncate" value=""><%= task.name %>
    <%= simple_form_for(task, remote: true, data: {dashboard_mark_task_as_done_target:"forms"}) do |f| %>
      <%= f.input :done, label: task.name, class: "form-check-input mb-0" %>
    <% end %>
    <p class="task-description text-truncate"><%= task.description %></p>
  </div>
  <div class="task-status px-3">
    <p class="m-0 task-status-badge <%= task.status %>" data-dashboard-mark-task-as-done-target="status"><%= task.status.capitalize %></p>
  </div>
  <div class="task-due-date px-3">
    <% if task.end %>
      <p><%= task.end.localtime.strftime('%A') %></p>
      <p><%= task.end.localtime.strftime('%B %d, %Y') %></p>
      <p><%= task.end.localtime.strftime('%H:%M %Z') %> </p>
    <% end %>
  </div>
  <%= link_to event_path(task.event), class: "text-decoration-none" do %>
    <div class="container task-event" style="background: linear-gradient(45deg, rgba(8, 42, 82, 0.3), rgba(8, 42, 82, 0.8)), url('<%= task.event.photo.attached? ? cl_image_path(task.event.photo.key) : task.event.poster_url %>') center;">
      <h5><%= task.event.name %></h5>
    </div>
  <% end %>
</div>
