<div class="calendar-page-container container-fluid pt-3 pb-3">
  <div class="row mx-3 justify-content-center  mb-3">
    <div class="calendar-container col-10 px-5 py-3">
      <%# <div class="calendar-headers ps-3">
        <h2>Calendar</h2>
      </div> %>
      <div class="calendar-inner-container">
        <%= month_calendar(end_attribute: :start_date, events: @current_month_events) do |date, events| %>
          <%= date %>
          <% events.each do |event| %>
            <%= link_to event_path(event), class: "text-decoration-none" do %>
              <div class="calendar-event d-flex justify-content-center align-items-center"  style="background: linear-gradient(45deg, rgba(8, 42, 82, 0.3), rgba(8, 42, 82, 0.8)), url('<%= event.photo.attached? ? cl_image_path(event.photo.key, :flags=>"ignore_aspect_ratio", :height=>62, :width=>150, :crop=>"scale") : event.poster_url %>') center;">
                <p><%= event.name %></p>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
