<div class="my-5 mx-5" data-controller="event-tasks">
  <%= render 'shared/add_task_form', event: event  %>
  <div class="row">
    <div class="col-2">
      <%= link_to event_tasks_path(event), data: {bs_toggle: 'modal', bs_target: '#addTaskForm'} do  %>
        <i class="fa-solid fa-square-plus fs-1 text-light" data-bs-toggle="tooltip" data-bs-placement="top" title="Add a Task">
        </i>
      <% end %>
      <div class="pt-4 text-white tasks-nav">
        <div class="active-tab" data-action="click->event-tasks#toggleDisplay" data-event-tasks-target="all tasksTabs">
          <p>All</p>
        </div>
        <div class="" data-action="click->event-tasks#toggleDisplay" data-event-tasks-target="music tasksTabs">
          <p>Music</p>
        </div>
        <div class="" data-action="click->event-tasks#toggleDisplay"  data-event-tasks-target="security tasksTabs">
          <p>Security</p>
        </div>
        <div class="" data-action="click->event-tasks#toggleDisplay" data-event-tasks-target="organization tasksTabs">
          <p>Organization</p>
        </div>
        <div class="" data-action="click->event-tasks#toggleDisplay" data-event-tasks-target="catering tasksTabs">
          <p>Catering</p>
        </div>
        <div class="" data-action="click->event-tasks#toggleDisplay" data-event-tasks-target="promotion tasksTabs">
          <p>Promotion</p>
        </div>
      </div>
    </div>
    <div class="col-10">
      <div data-event-tasks-target="pagesTabs allTab" class="all-tasks">
        <%= render 'shared/tasks', event: event, tasks: tasks %>
      </div>
      <div data-event-tasks-target="pagesTabs musicTab" class="music-tasks d-none">
        <%= render 'shared/tasks', event: event, tasks: tasks.where(category: 'music'), category: 'music' %>
      </div>
      <div data-event-tasks-target="pagesTabs securityTab" class="security-tasks d-none">
        <%= render 'shared/tasks', event: event, tasks: tasks.where(category: 'security'), category: 'security' %>
      </div>
      <div data-event-tasks-target="pagesTabs organizationTab" class="organization-tasks d-none">
        <%= render 'shared/tasks', event: event, tasks: tasks.where(category: 'organization'), category: 'organization' %>
      </div>
      <div data-event-tasks-target="pagesTabs cateringTab" class="catering-tasks d-none">
        <%= render 'shared/tasks', event: event, tasks: tasks.where(category: 'catering'), category: 'catering' %>
      </div>
      <div data-event-tasks-target="pagesTabs promotionTab" class="promotion-tasks d-none">
        <%= render 'shared/tasks', event: event, tasks: tasks.where(category: 'promotion'), category: 'promotion' %>
      </div>
    </div>
  </div>
</div>
