<div class="container-fluid">
  <div class="container-main">
    <div class="element-main1">
      <h3> <%= event.event_status.capitalize %> event</h3>
      <h2><strong><%= event.name %></strong></h2>
    </div>
    <div class="element-main2">
      <i class="fa-solid fa-calendar-days fa-xs"></i>
      <div>
        <h4><strong> Date and time</strong></h4>
        <p><%= event.start_date.strftime("%d %b %Y %H:%M") %></p>
        <p><%= event.end_date.strftime("%d %b %Y %H:%M") %></p>
      </div>
    </div>
    <div class="element-main3">
      <i class="fa-solid fa-location-dot fa-xs"></i>
      <div>
        <h4><strong> Location</strong></h4>
        <p><%= event.location %></p>
      </div>
      <i class="fa-solid fa-money-bill fa-xs"></i>
      <div>
        <h4><strong> Price</strong></h4>
        <p>DOOR:3000yen(+1D)</p>
        <p>ADV:2500yen(+1D)</p>
      </div>
    </div>
    <div class="element-main4"style="width: 100%; height: auto; padding: 0; border-radius: 4px; margin-top: 1px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="info">
    <div class="info-card">
      <div class="info-title"><%= event.event_members.count %></div>
      <div class="info-sub-title">Staff Members</div>
      <i class="far fa-user"></i>
    </div>
    <div class="info-card">
      <div class="info-title"><%= event.tasks.select{ |task| task.task == nil && !task.done}.count %>/<%= event.tasks.select{ |task| task.task == nil}.count %></div>
      <div class="info-sub-title">Tasks in progress</div>
      <i class="fa-solid fa-list-check"></i>
    </div>
    <div class="info-card">
      <div class="info-title"><%= event.tasks.select{ |task| task.task == nil && task.done }.count %>/<%= event.tasks.select{ |task| task.task == nil}.count %></div>
      <div class="info-sub-title">Tasks Completed</div>
      <i class="fas fa-bullseye"></i>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="info">
    <div class="col-12">
      <% event.tasks.where(timetable: true).each do |task| %>
        <%= render 'shared/main_timetable', event: event, task: task %>
      <% end %>
    </div>
    <div class="col-12">
      <% event.tasks.where(gear: true).each do |task| %>
        <%= render 'shared/main_gear', event: event, task: task %>
      <% end %>
    </div>
    <div class="col-12">
      <% event.tasks.where(misc: true).each do |task| %>
        <%= render 'shared/main_misc', event: event, task: task %>
      <% end %>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container-files mb-3">
    <h2 class="text-light promotion-title">PROMOTIONAL MATERIALS</h2>
    <div class="container-files-media">
      <% if event.files.attached? %>
        <% event.files.each do |file| %>
          <div class="event-file-container">
            <%= cl_image_tag(file.key, class: "event-file")  %>
            <i class="fa-solid fa-cloud-arrow-down" id="cloud"></i>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="files-form-container">
      <%= simple_form_for(event) do |f| %>
        <div class="row">
          <%= f.input :files, label: "Choose files to upload:", input_html: {multiple: true, class: "text-light col-3"} %>
          <div class="margin-left-add">
            <%= f.button :submit, 'Upload', class: "brand-btn col-3" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
