<div class="gear-time-misc-container d-flex flex-column align-self-stretch position-relative" data-controller="tasks">
  <%= render 'shared/new_member_form_modal', event_task: task %>
  <div class="event-task-header d-flex justify-content-between align-items-center">
    <div class="card-body fs-4 d-flex align-items-center flex-grow-2">
      <h3 class="timetable-header info-title" data-action="click->tasks#toggleDisplay stretched-link"><%= task.name.upcase %></h3>
    </div>
  </div>
  <div class="d-flex flex-column gear-time-misc-members-container-card-content" data-tasks-target='task'>
    <%= render 'components/gear_item', task: task %>
    <%= render 'components/gear_item_form', event: event, parent_task: task %>
    <hr>
    <div class="gear-time-misc-members d-flex gap-1 justify-content-end align-items-center">
      <%= link_to new_task_task_member_path(task),
                data: {bs_toggle: "modal", bs_target: "#addMembersModal#{task.id}"},
                class: 'me-2' do %>
        <i class="fa-solid fa-square-plus fs-4 text-light" data-bs-toggle="tooltip" data-bs-placement="left" title="Assign Member"></i>
      <% end %>
      <% if task.event_members.any? %>
        <% task.event_members.each do |event_member| %>
          <%= render "components/task_member", member: event_member %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
