<div class="container-fluid">
  <div class="container-main">
    <div class="element-main1">
      <h3> <%= event.event_status.capitalize %> event <strong><%= event.start_date.strftime("%B #{event.start_date.day.ordinalize}")%></strong></h3>
      <h2><strong><%= event.name %></strong></h2>
    </div>
    <div class="element-main2">
      <h3><strong>Date and time</strong></h3>
      <p><%= event.start_date.strftime("%d %b %Y %H:%M") %></p>
      <p><%= event.end_date.strftime("%d %b %Y %H:%M") %></p>
    </div>
    <div class="element-main3">
      <h3><strong>Location</strong></h3>
      <p><%= event.location %></p>
    </div>
    <div class="element-main4"style="width: 100%; height: auto; padding: 0; border-radius: 4px; margin-top: 1px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="info">
    <div class="info-card">
      <div class="info-title"><%= event.event_members.count %></div>
      <div class="info-sub-title">Staff Members</div>
      <i class="far fa-user"></i>
    </div>
    <div class="info-card">
      <div class="info-title"><%= event.tasks.select{ |task| task.task == nil && !task.done}.count %>/<%= event.tasks.select{ |task| task.task == nil}.count %></div>
      <div class="info-sub-title">Tasks in progress</div>
      <i class="fa-solid fa-list-check"></i>
    </div>
    <div class="info-card">
      <div class="info-title"><%= event.tasks.select{ |task| task.task == nil && task.done }.count %>/<%= event.tasks.select{ |task| task.task == nil}.count %></div>
      <div class="info-sub-title">Tasks Completed</div>
      <i class="fas fa-bullseye"></i>
    </div>
  </div>
</div>
<div class="container-fluid ">
  <div class="info">
    <div class="col-12">
      <%# <h2 class="text-white align-self-center">Timetable</h2> %>
      <% event.tasks.where(timetable: true).each do |task| %>
        <%= render 'shared/main_timetable', event: event, task: task %>
      <% end %>
    </div>
    <div class="col-12">
      <% event.tasks.where(gear: true).each do |task| %>
        <%= render 'shared/main_gear', event: event, task: task %>
      <% end %>
      <%# <div> %>
      <%# Gear Card  %>
      <%# <h2 class="event-task-container d-flex flex-column align-self-stretch">GEAR</h2>
        <hr>
        <p>
          ▶︎3F(2ブース)<br>
          DJM900nxs2<br>
          CDJ2000nxs×4<br>
          Z2<br>
          SL1200MK3D×2<br>
          ▶︎4F<br>
          DJM900nxs<br>
          CDJ2000×2<br>
          PLX1000×2<br>
        </p>
      </div> %>
    </div>
    <div class="col-12">
      <div>
        <h2 class="event-task-container d-flex flex-column align-self-stretch">MISC</h2>
        <hr>
        <p>
          ≪≪LIVEPAINT≫≫<br>
          YSK<br>
          KSK<br>
          拓磨クワン<br>
          AKIKO ASANO<br>
          <br>
          ≪VJ≫<br>
          鎖国ちゃん<br>
          <br>
          ≪DECORATION≫<br>
          FOREHEAD凸<br>
          <br>
          ≪LASERS≫<br>
          前髪野瑠璃子<br>
          <br>
          ≪FOOD≫<br>
          日の出タコス<br>
          共振異空間住居阿波座ハウス<br>
          たんぽぽ食堂<br>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="container-files mb-3">
    <h2 class="">PROMOTIONAL MATERIALS</h2>
    <div class="container-files-media">
      <% if event.files.attached? %>
        <% event.files.each do |file| %>
          <div class="event-file-container">
            <%= cl_image_tag(file.key, class: "event-file")  %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="files-form-container">
      <%= simple_form_for(event) do |f| %>
        <%= f.input :files, label: "Choose files to upload:", input_html: {multiple: true, class: "text-light"} %>
        <%= f.button :submit, 'Upload', class: "brand-btn col-12" %>
      <% end %>
    </div>
  </div>
</div>
