<div data-controller="tab-members">
  <div class="container-fluid">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" data-tab-members-target="tabManager tab" data-action="click->tab-members#toggle">Managers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-tab-members-target="tabArtist tab" data-action="click->tab-members#toggle">Artists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-tab-members-target="tabSecurity tab" data-action="click->tab-members#toggle">Security</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-tab-members-target="tabStaff tab" data-action="click->tab-members#toggle">Staff</a>
      </li>
    </ul>
  </div>
  <div class="container d-flex justify-content-end">
    <%= link_to event_event_members_path(event), data: {bs_toggle: "modal", bs_target: "#addMemberModal"} do %>
      <button type="button" class="add-btn"><i class="fa-solid fa-plus"></i> Add a member</button>
    <% end %>
  </div>
  <div class="" data-tab-members-target="pages pagesManager">
    <div class="grid-members">
    <% event.event_members.manager.each do |manager| %>
      <div class="container-fluid">
        <div class="card-product">
          <% if manager.user.avatar_url.blank? %>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
          <% else %>
            <img src="<%= manager.user.avatar_url %>" alt="">
          <% end %>
          <div class="card-product-infos">
            <h2><%= manager.user.first_name %> <%= manager.user.last_name %></h2>
            <% if manager.tasks.count == 0 %>
              <p>Does not have tasks remaining.</p>
            <% else %>
              <p>Has <%= pluralize(manager.tasks.count, "task") %> remaining...</p>
            <% end %>
            <i class="fa-solid fa-square-plus fs-4 text-light plus-btn" data-bs-toggle="tooltip" data-bs-placement="left" title="Assign a Task" ></i>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <div class="d-none" data-tab-members-target="pages pagesArtist">
    <div class="grid-members">
    <% event.event_members.artist.each do |artist|  %>
      <div class="container-fluid">
          <div class="card-product">
            <% if artist.user.avatar_url.blank? %>
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
            <% else %>
              <img src="<%= artist.user.avatar_url %>" alt="">
            <% end %>
            <div class="card-product-infos">
              <h2><%= artist.user.first_name %> <%= artist.user.last_name %></h2>
              <% if artist.tasks.count == 0 %>
                <p>Does not have tasks remaining.</p>
              <% else %>
                <p>Has <%= pluralize(artist.tasks.count, "task") %> remaining...</p>
              <% end %>
              <i class="fa-solid fa-square-plus fs-4 text-light plus-btn" data-bs-toggle="tooltip" data-bs-placement="left" title="Assign a Task" ></i>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="d-none" data-tab-members-target="pages pagesSecurity">
    <div class="grid-members">
    <% event.event_members.security.each do |security|  %>
      <div class="container-fluid">
        <div class="card-product">
          <% if security.user.avatar_url.blank? %>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
          <% else %>
            <img src="<%= security.user.avatar_url %>" alt="">
          <% end %>
          <div class="card-product-infos">
            <h2><%= security.user.first_name %> <%= security.user.last_name %></h2>
            <% if security.tasks.count == 0 %>
              <p>Does not have tasks remaining.</p>
            <% else %>
              <p>Has <%= pluralize(security.tasks.count, "task") %> remaining...</p>
            <% end %>
            <i class="fa-solid fa-square-plus fs-4 text-light plus-btn" data-bs-toggle="tooltip" data-bs-placement="left" title="Assign a Task" ></i>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <div class="d-none" data-tab-members-target="pages pagesStaff">
    <div class="grid-members">
    <% event.event_members.staff.each do |staff|  %>
      <div class="container-fluid">
        <div class="card-product">
          <% if staff.user.avatar_url.blank? %>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
          <% else %>
            <img src="<%= staff.user.avatar_url %>" alt="">
          <% end %>
          <div class="card-product-infos">
            <h2><%= staff.user.first_name %> <%= staff.user.last_name %></h2>
            <% if staff.tasks.count == 0 %>
              <p>Does not have tasks remaining.</p>
            <% else %>
              <p>Has <%= pluralize(staff.tasks.count, "task") %> remaining...</p>
            <% end %>
            <i class="fa-solid fa-square-plus fs-4 text-light plus-btn" data-bs-toggle="tooltip" data-bs-placement="left" title="Assign a Task" ></i>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
