<div class="sidenav d-flex flex-column flex-shrink-0 p-3 text-white">
  <a href="/">
    <%= image_tag "sm-white-logo.png", class: "logo" %>
  </a>
  <hr class="side-divider">
  <div class="mt-4 d-flex flex-column justify-content-between h-100">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item fs-5">
        <%= link_to :dashboard, class: 'nav-link active d-flex align-items-center gap-3' do %>
          <i class="fa-solid fa-house"></i>
          <p>Home</p>
        <% end %>
      </li>
      <li class="nav-item fs-5">
        <%= link_to '#', class: 'nav-link d-flex align-items-center gap-3' do %>
          <i class="fa-solid fa-list-check"></i>
          <p>Tasks</p>
        <% end %>
      </li>
      <li class="nav-item fs-5">
        <%= link_to :calendar, class: 'nav-link d-flex align-items-center gap-3' do %>
          <i class="fa-solid fa-calendar-week"></i>
          <p>Calendar</p>
        <% end %>
      </li>
      <li class="nav-item fs-5">
        <%= link_to '#', class: 'nav-link d-flex align-items-center gap-3' do %>
          <i class="fa-solid fa-inbox"></i>
          <p>Inbox</p>
        <% end %>
      </li>
    </ul>
    <hr class="side-divider">
    <div class="sidenav-footer mb-5 fs-5">
      <%= link_to new_event_path, class: 'nav-link d-flex align-items-center gap-3' do %>
        <i class="fa-solid fa-calendar-plus"></i>
        <p>Create an Event</p>
      <% end %>
      <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: 'nav-link d-flex align-items-center gap-3' do %>
        <i class="fa-solid fa-right-from-bracket"></i>
        <p>Sign Out</p>
      <% end %>
    </div>
  </div>
</div>
