<div class="event-task-container d-flex flex-column align-self-stretch position-relative" data-controller="tasks">
  <%= render 'shared/new_member_form_modal', event_task: task %>
  <div class="event-task-header d-flex justify-content-between align-items-center">
    <div class="card-body fs-4 d-flex align-items-center flex-grow-2">
      <%= render 'components/update_task_form', event: event, task: task %>
      <%# <input type="checkbox" class="task-checkbox me-2" checked disabled> %>
      <h5 data-action="click->tasks#toggleDisplay stretched-link"><%= task.name %></h5>
    </div>
    <%# Small task members avatars %>
    <div class="task-members-small d-flex flex-wrap pe-3 gap-1" data-tasks-target='members'>
      <% if task.event_members.any? %>
        <% task.event_members.each do |event_member| %>
          <%= render "components/task_member", member: event_member %>
        <% end %>
      <% end %>
    </div>
    <%# Small task members avatars end %>
    <div class="task-info d-flex flex-column justify-content-end align-items-end">
      <span class="m-0 event-task-status-badge <%= task.done ? "done" : "pending" %>"><%= task.done ? 'done' : 'pending' %></span>
      <span class="m-0 event-task-category-badge align-self-end <%= task.category %>" data-tasks-target='badge'><%= task.category %></span>
    </div>
  </div>
  <%# Task card expanded view %>
  <div class=" d-none d-flex flex-column card-content" data-tasks-target='task'>
    <hr>
    <span class="mb-3 event-task-category-badge <%= task.category %>"><%= task.category %></span>
    <p><%= task.description %></p>
    <%# Subtasks %>
    <%= render 'components/subtasks', task: task %>
    <%= render 'components/subtask_form', event: event, parent_task: task %>
    <%# Subtasks end %>
    <p class='m-0 task-date'><i class="fa-solid fa-calendar-days me-1"></i>From: <%= task.start.strftime("%d.%m.%Y") %></p>
    <% if  task.end %>
      <p class='m-0 task-date'><i class="fa-solid fa-calendar-days me-1"></i>End: <%= task.end.strftime("%d.%m.%Y") %></p>
    <% end %>
    <hr>
    <div class="task-members d-flex gap-1 justify-content-end align-items-center">
      <%= link_to new_task_task_member_path(task),
                data: {bs_toggle: "modal", bs_target: "#addMembersModal#{task.id}"},
                class: 'me-2' do %>
        <i class="fa-solid fa-square-plus fs-4 text-light" data-bs-toggle="tooltip" data-bs-placement="left" title="Assign Member"></i>
      <% end %>
      <% if task.event_members.any? %>
        <% task.event_members.each do |event_member| %>
          <%= render "components/task_member", member: event_member %>
        <% end %>
      <% end %>
    </div>
  </div>
  <%# Task card expanded view end %>
</div>
