<div class="page-container container-fluid">
  <div class="event-form-container p-5 rounded custom-modal">
    <h2 class="event-form-header mb-3 pb-3">Create your new event</h2>
    <hr>
    <%= simple_form_for(@event, data: { "controller": "poster-upload-options"}) do |f| %>
      <%= f.input :name, label: 'Event Name:', input_html: { class: 'event-form-inputs mb-3', style: "background-color: #202938; border: 1px solid rgba(255,255,255,0.25);" } %>
      <%= f.input :location, input_html: { class: 'event-form-inputs mb-3', style: "background-color: #202938; border: 1px solid rgba(255,255,255,0.25);" } %>
      <div class="poster-upload-options-container">
        <label class="d-block" for="">Upload Event Poster:</label>
        <label for="File">
          <input type="radio" id="File" name="option" data-action="change->poster-upload-options#changeInput" data-poster-upload-options-target="fileRadio" checked>
          File</label>
        <label for="URL">
          <input type="radio" id="URL" name="option" data-action="change->poster-upload-options#changeInput" data-poster-upload-options-target="urlRadio">
          URL</label>
        <%= f.input :poster_url, as: :file, label: false, input_html: { class: 'my-3',"data-poster-upload-options-target": "file"} %>
        <%= f.input :poster_url, label: false, input_html: { class: 'event-form-inputs my-3 d-none', style: "background-color: #202938; border: 1px solid rgba(255,255,255,0.25);", "data-poster-upload-options-target": "url" } %>
      </div>
      <%= f.input :start_date, input_html: { class: 'event-form-inputs', style: "background-color: #202938; border: 1px solid rgba(255,255,255,0.25);" }, html5: true %>
      <%= f.input :end_date, input_html: { class: 'event-form-inputs mb-3', style: "background-color: #202938; border: 1px solid rgba(255,255,255,0.25);" }, html5: true %>
      <div class="d-flex">
        <%= f.button :submit, class: "brand-btn btn-lg event-submit-button col-6 mx-auto" %>
      </div>
    <% end %>
  </div>
</div>
