<div class="page-container container-fluid">
  <div class="event-form-container container col-10 p-5 rounded">
    <h2 class="event-form-header border-bottom mb-3 pb-3">Create your new event</h2>
    <div class="simple-form-container" data-controller="poster-upload-options">
      <%= simple_form_for(@event) do |f| %>
        <%= f.input :name, label: 'Event name:', input_html: { class: 'event-form-inputs mb-3'} %>
        <div class="mb3 poster-options-container">
          <label for="poster-URL-checkbox">URL</label>
          <input type="checkbox" id="poster-URL-checkbox"  checked>
          <label for="poster-file-checkbox">File</label>
          <input type="checkbox" id="poster-file-checkbox">
          <%= f.input :poster_url, label: 'Event Poster:', input_html: { class: 'event-form-inputs mb-3'} %>
        </div>
        <%= f.input :location, input_html: { class: 'event-form-inputs mb-3'} %>
        <%= f.input :start_date, input_html: { class: 'event-form-inputs'}, html5: true %>
        <%= f.input :end_date, input_html: { class: 'event-form-inputs mb-3'}, html5: true %>
        <div class="d-flex">
          <%= f.button :submit, class: "brand-btn btn-lg event-submit-button col-6 mx-auto" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
