<div class="page-container container-fluid">
  <div class="event-form-container p-5 rounded custom-modal">
    <h2 class="event-form-header mb-3 pb-3">Create your new event</h2>
    <hr>
    <%= simple_form_for(@event) do |f| %>
      <%= f.input :name, label: 'Event Name:', input_html: { class: 'event-form-inputs mb-3', style: "background-color: #202938; border: 1px solid rgba(255,255,255,0.25); outline: none;" } %>
      <%= f.input :location, input_html: { class: 'event-form-inputs mb-3', style: "background-color: #202938; border: 1px solid rgba(255,255,255,0.25);" } %>
      <%= f.input :poster_url, label: 'Event Poster:', input_html: { class: 'event-form-inputs mb-3', style: "background-color: #202938; border: 1px solid rgba(255,255,255,0.25);" } %>
      <%= f.input :start_date, input_html: { class: 'event-form-inputs', style: "background-color: #202938; border: 1px solid rgba(255,255,255,0.25);" }, html5: true %>
      <%= f.input :end_date, input_html: { class: 'event-form-inputs mb-3', style: "background-color: #202938; border: 1px solid rgba(255,255,255,0.25);" }, html5: true %>
      <div class="d-flex">
        <%= f.button :submit, class: "brand-btn btn-lg event-submit-button col-6 mx-auto" %>
      </div>
    <% end %>
  </div>
</div>
