<%= render 'shared/create_member_modal' %>
<div class="container-fluid" data-controller='countdown'>
  <div class="banner" style="background-image: url('<%= @event.photo.attached? ? cl_image_path(@event.photo.key) : @event.poster_url %>')">
    <div>
      <h1><%= @event.name %></h1>
      <%# countdozn here %>
      <div class='countdown' data-countdown-target="counter"></div>
      <span class="d-none" data-countdown-target="date"><%= @event.start_date.strftime("%Y-%m-%d") %></span>
    </div>
  </div>
</div>
<div data-controller="tab">
  <div class="container-fluid">
    <ul id="tabBorder" class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" data-tab-target="tabMain tab" data-action="click->tab#toggle">Main</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-tab-target="tabMembers tab" data-action="click->tab#toggle">Members</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-tab-target="tabTasks tab" data-action="click->tab#toggle">Tasks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-tab-target="tabMessages tab" data-action="click->tab#toggle">Messages</a>
      </li>
    </ul>
  </div>
  <div class="" data-tab-target="pages pagesMain">
    <%= render "shared/main", event: @event %>
  </div>
  <div class="d-none" data-tab-target="pages pagesMembers">
    <%= render "shared/members", event: @event, artists: @artists, staffs: @staffs, securities: @securities, event_member: @event_member, tasks: @tasks %>
  </div>
  <div class="d-none" data-tab-target="pages pagesTasks">
    <%= render 'shared/event_tasks', tasks: @tasks, event: @event %>
  </div>
  <div class="d-none" data-tab-target="pages pagesMessages">
    <%= render 'shared/messages', new_message: @message, event: @event %>
  </div>
</div>
