<div class="container">
  <div class="login-form-container p-5 rounded custom-modal mt-3", style="border: 1px solid #ddddd3;">
    <h2 class="login-form-header border-bottom mb-3 pb-3">Log in</h2>
    <br>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <%= f.input :email, required: false, autofocus: true, input_html: { class: 'event-form-inputs mb-3' } %>
      </div>
      <div class="form-group">
        <%= f.input :password, required: false, input_html: { class: 'event-form-inputs mb-3' } %>
      </div>
      <div class="form-group">
        <%= f.input :remember_me, as: :boolean, required: false, input_html: { class: 'event-form-inputs mb-3' } %>
      </div>
      <div class="form-group">
        <%= f.button :submit, class: "brand-btn btn-lg event-submit-button col-4 mx-auto" %>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
  </div>
</div>
