<!DOCTYPE html>
<html>
  <head>
    <title>IiVent</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('favicon-logo.png') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-2 p-0 position-relative">
          <%= render "shared/sidenav" %>
        </div>
        <div class="col-10 p-0">
          <%= render 'shared/navbar' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
